%h1 マイページ

%h2 ETF
%table.table
  %thead
    %tr
      %th 名前
      %th 最終購入日
      %th 平均購入価格
      %th 購入口数
      %th 購入総額
      %th 現在価格
      %th 評価損益
  %tbody
    - @user_issues.each do |code, ui|
      %tr
        %td= link_to ui[:name], issue_path(code)
        %td= ui[:last_bought_day]
        %td= number_to_currency ui[:average_price]
        %td= ui[:num]
        %td= number_to_currency ui[:total_paid]
        %td= number_to_currency ui[:current_price]
        %td= number_to_currency ui[:current_profit]

%h2 投資信託
%table.table
  %thead
    %tr
      %th 名前
      %th 最終購入日
      %th 平均購入価格
      %th 購入口数
      %th 購入総額
      %th 現在価格
      %th 評価損益
  %tbody
    - @user_investments.each do |code, ui|
      %tr
        %td= ui[:name]
        %td= ui[:last_bought_day]
        %td= number_to_currency ui[:average_price]
        %td= ui[:num]
        %td= number_to_currency ui[:total_paid]
        %td= number_to_currency ui[:current_price]
        %td= number_to_currency ui[:current_profit]
