%h1 ETF登録

= form_for @user_issue do |f|
  .form-group.row
    = f.label :issue_code, 'コード', class: 'col-lg-2', for: 'user_issue_issue_code'
    .col-lg-10
      -# = f.collection_select :issue_code, @issues, :code, :name, {include_blank: true}, {class: 'form-control select2'}
      =f.select :issue_code, @issues, {}, class: 'form-control select2'

  .form-group.row
    = f.label :price, '取引価格', class: 'col-lg-2', for: 'user_issue_price'
    .col-lg-10
      .input-group
        .input-group-addon ￥
        = f.number_field :price, class: 'form-control'

  .form-group.row
    = f.label :price, '口数', class: 'col-lg-2', for: 'user_issue_num'
    .col-lg-10
      = f.number_field :num, class: 'form-control'

  .form-group
    = f.submit '決定', class: 'btn btn-primary btn-lg'

:coffeescript
  $('.select2').select2(
    theme: "bootstrap"
  )
