%h1 マイページ
.alert.alert-dismissible.fade.in{role: 'alert', class: @v[:current_profit] > 0 ? 'alert-success' : 'alert-danger'}
  %button.close{type: 'button', 'data-dismiss' => 'alert', 'aria-label' => 'Close'}
    %span{'aria-hidden' => 'true'} &times;
  %h4.alert-heading 統計
  %dl.row.m-b-0
    %dt.col-sm-3 年間投資額:
    %dd.col-sm-9= number_to_currency @v[:year_deposit]
    %dt.col-sm-3 累計投資額:
    %dd.col-sm-9= number_to_currency @v[:total_paid]
    %dt.col-sm-3 現在価額:
    %dd.col-sm-9= number_to_currency @v[:current_price]
    %dt.col-sm-3 損益合計:
    %dd.col-sm-9
      = number_to_currency @v[:current_profit]
      (
      ="%0.1f" % (@v[:current_profit_rate] * 100)
      \%)
.clearfix
  %h2.float-xs-left ETF
  =link_to "詳細を見る", user_issues_path, class: %w(btn btn-link float-xs-right)
.table-row.header
  .wrapper.text-4
    .wrapper.text-2
      .text 名前
    .wrapper.text-2
      .text 最終購入日
      .text 平均購入価格
  .wrapper.num-4
    .wrapper.num-2
      .num 購入口数
      .num 購入総額
    .wrapper.num-2
      .num 現在価格
      .num 評価損益
- @user_issues.each do |code, ui|
  .table-row
    .wrapper.text-4
      .wrapper.text-2
        .text= link_to ui[:name], issue_path(code)
      .wrapper.text-2
        .text= ui[:last_bought_day]
        .text= number_to_currency ui[:average_price]
    .wrapper.num-4
      .wrapper.num-2
        .num= ui[:num]
        .num= number_to_currency ui[:total_paid]
      .wrapper.num-2
        .num= number_to_currency ui[:current_price]
        .num= number_to_currency ui[:current_profit]
.clearfix
  %h2.float-xs-left 投資信託
  =link_to "詳細を見る", user_investments_path, class: %w(btn btn-link float-xs-right)
.table-row.header
  .wrapper.text-4
    .wrapper.text-2
      .text 名前
    .wrapper.text-2
      .text 最終購入日
      .text 平均購入価格
  .wrapper.num-4
    .wrapper.num-2
      .num 購入口数
      .num 購入総額
    .wrapper.num-2
      .num 現在価格
      .num 評価損益
- @user_investments.each do |code, ui|
  .table-row
    .wrapper.text-4
      .wrapper.text-2
        .text= ui[:name]
      .wrapper.text-2
        .text= ui[:last_bought_day]
        .text= number_to_currency ui[:average_price]
    .wrapper.num-4
      .wrapper.num-2
        .num= ui[:num]
        .num= number_to_currency ui[:total_paid]
      .wrapper.num-2
        .num= number_to_currency ui[:current_price]
        .num= number_to_currency ui[:current_profit]
