%p#notice= notice
%h1 トップページ

-# -chart_opt = {library: {legend: {position: 'none'}, chartArea: {left: '10%', top: 0, width: '80%', height: '80%'}}}
- chart_opt = {library: {legend: {position: :none}, chartArea: {width: '100%', height: '75%', top: 0}, hAxis: {textPosition: :out}, vAxis: {textPosition: :in}}}

- if user_signed_in?
  .alert.alert-success.alert-dismissible.fade.in{role: 'alert'}
    %button.close{type: 'button', 'data-dismiss' => 'alert', 'aria-label' => 'Close'}
      %span{'aria-hidden' => 'true'} &times;
    %h4.alert-heading 目標投資額
    %dl.row.m-b-0
      %dt.col-sm-3 年間投資額:
      %dd.col-sm-9
        = number_to_currency @yearly_deposit_with_start
        (
        = number_to_currency current_user.user_setting.yearly_deposit
        )
      %dt.col-sm-3 累計投資額(昨日まで):
      %dd.col-sm-9= number_to_currency @user_stacked
      %dt.col-sm-3 目標投資額(本日まで):
      %dd.col-sm-9= number_to_currency @user_should_stacked
      %dt.col-sm-3 本日投資額
      %dd.col-sm-9.m-b-0= number_to_currency @today_budget

  .col-xs-12
    #chart_div
    %script{src: 'user_issues/chart.js'}

  .col-lg-3.col-xs-6
    %h5 現在ポートフォリオ
    = pie_chart UserIssueService.portfolio(current_user) + UserInvestmentService.portfolio(current_user), chart_opt
  .col-lg-3.col-xs-6
    %h5 目標ポートフォリオ
    = pie_chart UserSettingService.portfolio(current_user), chart_opt
  .col-lg-6.col-xs-12
    %h5 distance
    = column_chart UserIssueService.distance_portfolio(current_user, @user_stacked), chart_opt

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th.hidden-md-down Code
      %th 商品名
      %th 基準価額
      %th 株価
      %th 乖離率(%)
      - if user_signed_in?
        %th 所有口数
        %th 購入口数
  %tbody
    - @issues.each do |issue|
      - base_price = issue.latest_daily.try(:base_price) # N+1 probrem
      - end_price = issue.latest_daily.try(:end_price)
      - base_price_unit = base_price.try :/, issue.base_unit
      - separation = (base_price && end_price && base_price_unit) ? ("%.2f" % ((end_price - base_price_unit) / base_price_unit * 100)) : ""
      - buy_number = (@today_budget && !end_price.nil? && end_price != 0) ? ((@today_budget / end_price / issue.trade_unit).to_i * issue.trade_unit) : 0
      - buy_number = 0 if buy_number < 0
      %tr
        %td.hidden-md-down{data: {label: 'code'}}
          = issue.code
        %td{data: {label: '商品名'}}
          = link_to issue.name, issue
        %td{data: {label: '基準価額'}}
          = base_price
        %td{data: {label: '株価'}}
          = end_price
        %td{data: {label: '乖離率(%)'}}
          = separation
        -if user_signed_in?
          %td{data: {label: '所有口数'}}
            = @user_stocks[issue.code]
          %td{data: {label: '購入口数'}}
            = link_to buy_number, new_user_issue_path(code: issue.code, price: end_price, num: buy_number)
