- unit = {units: {hundred: "百",:thousand => "千", :million => "百万", :billion => "十億", :trillion => "兆", :quadrillion => "千兆"}, precision: 5}
%p#notice= notice

.container_dummy
  .clearfix
    %h1.float-lg-left= @issue.name
    .float-lg-right= link_to 'このETFを買う', new_user_issue_path(code: @issue.code, price: @issue.latest_daily.try(:end_price)), class: 'btn btn-primary'
  .card
    .card-block{style: 'overflow: hidden'}
      %dl.row
        %dt.col-sm-3 Code:
        %dd.col-sm-9= @issue.code
        %dt.col-sm-3 Url:
        %dd.col-sm-9= link_to @issue.url, @issue.url
        %dt.col-sm-3 売買単位
        %dd.col-sm-9= @issue.trade_unit
        %dt.col-sm-3

  %h3 価格推移
  .w-100
    = line_chart(@chart, library: {pointsVisible: false, chartArea: {width: '90%'}})

  %h3 過去の基準価額
  %table.table
    %thead
      %tr
        %th 日付
        %th 基準価格
        %th 株価
        %th 純資産総額
        %th 発行済口数
    %tbody
      - @dailies.each do |d|
        %tr
          %td=d.created_at.localtime.strftime("%F")
          %td=d.base_price ? "\u00A5%.2f" % d.base_price : "-"
          %td=d.end_price ? "\u00A5%.2f" % d.end_price : "-"
          %td="\u00A5" + number_to_human(d.total_assets || 0, unit)
          %td=d.total_issued ? number_to_human(d.total_issued || 0, unit) : "-"

  = link_to 'もっと見る', issue_dailies_path(@issue)
  |
  = link_to 'ETF一覧に戻る', issues_path
