%h1 ETF詳細
%table.table
  %thead
    %tr
      %th 名前
      %th コード
      %th 購入日
      %th 購入価格
      %th 購入口数
  %tbody
    - @user_investments.each do |ui|
      %tr
        %td= ui.investment.name
        %td= ui.investment_code
        %td= ui.bought_day.strftime("%Y/%m/%d")
        %td= number_to_currency ui.price
        %td= ui.num
