%h1 投資信託登録

= form_for @user_investment do |f|
  .form-group.row
    = f.label :investment_code, 'コード', class: 'col-lg-2', for: 'user_investment_investment_code'
    .col-lg-10
      = f.text_field :investment_code, class: 'form-control'
    .col-lg-12
      %p#investment_info.form-text.text-muted

  .form-group.row
    = f.label :price, '取引価格', class: 'col-lg-2', for: 'user_investment_price'
    .col-lg-10
      .input-group
        .input-group-addon ￥
        = f.number_field :price, class: 'form-control'

  .form-group.row
    = f.label :price, '口数', class: 'col-lg-2', for: 'user_investment_num'
    .col-lg-10
      .input-group
        = f.number_field :num, class: 'form-control'
        #investment_base_price.input-group-addon

  .form-group
    = f.submit '決定', class: 'btn btn-primary btn-lg'

:coffee
  $ ->
    price = 0
    $('#user_investment_investment_code').focusout((e) ->
      val = $('#user_investment_investment_code').val()
      $.ajax({
        url: "/investments/"+ val + "/fetch.json"
      }).success( (result)->
        $('#investment_info').text(result.name)
        $('#investment_base_price').text(result.price / 10000 + "円 / 口")
        price = result.price
      )
    )

    $('#user_investment_price').focusout((e) ->
      val = parseInt($('#user_investment_price').val())
      $('#user_investment_num').val(Math.floor(val / price * 10000))
    )
